@media (max-width: 479px) {
    body {
        background-color: red;
    }

    #small {
        display: block;
    }

    #medium, #large {
        display: none;
    }
}

@media (min-width: 480px) and (max-width: 1023px) {
    body {
        background-color: green;
    }

     #medium {
        display: block;
    }

    #small, #large {
        display: none;
    }
}

@media (min-width: 1024px) {
    body {
        background-color: blue;
    }

     #large {
        display: block;
    }

    #small, #medium {
        display: none;
    }
}