@media (max-width: 479px) {
    body {
        background-color: red;
    }
}

@media (min-width: 480px) and (max-width: 1023px) {
    body {
        background-color: green;
    }
}

@media (min-width: 1024px) {
    body {
        background-color: blue;
    }
}