@media (max-width: 479px) {
    body {
        background-color: red;
    }

    #small {
        display: block;
    }

        #small h2 {
        font-size: 1.2rem;
    }

    #small p {
        font-size: 0.9rem;
    }

    #medium, #large {
        display: none;
    }
}

@media (min-width: 480px) and (max-width: 1023px) {
    body {
        background-color: green;
    }

     #medium {
        display: block;
    }

     #medium h2 {
        font-size: 1.6rem;
    }

    #medium p {
        font-size: 1.1rem;
    }

    #small, #large {
        display: none;
    }
}

@media (min-width: 1024px) {
    body {
        background-color: blue;
    }

     #large {
        display: block;
    }

    #large h2 {
        font-size: 2rem;
    }
    
    #large p {
        font-size: 1.2rem;
    }

    #small, #medium {
        display: none;
    }
}