@media (max-width: 479px) {
    body {
        background-color: red;
    }

    .container {
        display: block;
    }

    #small, #medium, #large {
        width: 100%;
    }

    #small h2 {
        font-size: 1.2rem;
    }
    #small p {
        font-size: 0.9rem;
    }
}

@media (min-width: 480px) and (max-width: 1023px) {
    body {
        background-color: green;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    #small {
        width: 66.66%;
    }

    #medium {
        width: 33.33%;
    }

    #large {
        width: 100%;
    }

    #medium h2 {
        font-size: 1.6rem;
    }
    #medium p {
        font-size: 1.1rem;
    }
}

@media (min-width: 1024px) {
    body {
        background-color: blue;
    }

    .container {
        display: flex;
    }

    #small, #medium, #large {
        width: 33.33%;
    }

    #large h2 {
        font-size: 2rem;
    }
    #large p {
        font-size: 1.2rem;
    }
}